{sub_dirs, [
    "samples/nksip_loadtest",
    "samples/nksip_pbx",
    "samples/nksip_tutorial"
]}.

{erl_opts, [
    % native,
    debug_info,
    {parse_transform, lager_transform}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{deps, [
    {nklib, {git, "https://github.com/MotoNetComposer/nklib", {branch, "moto_isigw"}}},
    {nkpacket, {git, "https://github.com/MotoNetComposer/nkpacket", {branch, "moto_isigw"}}},
    {nkserver, {git, "https://github.com/MotoNetComposer/nkserver", {branch, "moto_isigw"}}}
]}.
